{% extends 'admin_template/base_template.html' %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="card card-info">
                <div style="height: 35px;padding-top: 8px;padding-bottom: 8px;" class="card-header">
                    <h3 class="card-title">Add New(P91) </h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                {% comment %} Displaying the Django Form using forms.py DataAddImage {% endcomment %}
                {% url 'add_store_data_save' as action_path %}
                {% include 'tool_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Add" %}

                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

  {% endblock main_content %}