{% extends 'admin_template/base_template.html' %}

{% block page_title %}
   
{% endblock page_title %}


{% block custom_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pts_tables/datatables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'pts_tables/datatables/css/buttons.dataTables.min.css' %}">
{% endblock custom_css %}


{% block main_content %}

{% load static %}

<section class="content">
<div class="container-fluid">

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div style="height: 40px;" class="card-header">
                <h3 class="card-title">  Item Requests  </h3>
            </div>

            <div class="card-body">
                
                <div style="padding-top: 5px;padding-bottom: 10px;padding-right: 10px;">
              
                </div>
                <div class="table-responsive">
                    <table id="example" style="font-size: small;" class="table table-bordered table-responsive-sm table-striped nowrap">
                        <thead class="thead-light">
                        <tr >
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">#ID</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Date</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">User MI ID</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">User Name</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Item</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">IM Part No</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Category</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Line</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">IW/OOW</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Function</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Req Qty</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Purpose</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Approved DRI</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Comment</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Action</th>
                            
                         </tr>
                        </thead>
                        <tbody>
                        {% for row in issue_pending_P75 %}
                        <tr style="height: 20px;">
                        <td>{{ row.id }}</td>
                        
                        <td>{{ row.date }}</td>
                        <td>{{ row.user_id.admin.username }}</td>
                        <td>{{ row.user_id.admin.first_name }}</td>
                        <td>{{ row.item_id.item_name }}</td>
                        <td>{{ row.item_id.im_part_no }}</td>
                        <td>{{ row.item_id.category }}</td>
                        <td>{{ row.line }}</td>
                        <td>{{ row.iw_oow }}</td>
                        <td>{{ row.user_id.function }}</td>
                        <td>{{ row.req_qty }}</td>
                        <td>{{ row.purpose }}</td>
                        <td>{{ row.approved_dri_name }}</td>
                        <td>{{ row.remark }}</td>
                        <td  style="padding-top: 2px;padding-bottom: 2px;">
                            {% if row.status == "" %}
                                <a href="{% url 'admin_user_request_approve' data_id=row.id %}" style="color:white;padding: 1px 5px;font-size: small;" class="btn btn-success">Approve</a>
                                <a href="{% url 'admin_user_request_reject' data_id=row.id %}" style="color:white;padding: 1px 5px;font-size: small;" class="btn btn-danger">Reject</a>
                           
                          
                            {%  elif row.status == "Approved" and row.issued_status == "" %}
                                
                            <button style="color:white;padding: 1px 5px;font-size: small;" class="btn btn-success" disabled="disabled">Approved</button>
                            <a href="{% url 'admin_details2'  request_id=row.id %}" style="color:white;padding: 1px 5px;font-size: small;" class="btn btn-primary">Issue</a>
                            
                            {%  elif row.status == "Approved" and row.issued_status == "Issued" %}
                            <button style="color:white;padding: 1px 5px;font-size: small;" class="btn btn-success" disabled="disabled">Approved</button>
                            <button style="color:white;padding: 1px 5px;font-size: small;" class="btn btn-primary" disabled="disabled">Issued</button>

                            {%  elif row.status == "Rejected" %}
                            <button style="color:white;padding: 1px 5px;font-size: small;" class="btn btn-danger" disabled="disabled">Rejected</button>
                            <a href="{% url 'admin_remark_data' data_id=row.id %}" style="color:white;padding: 1px 5px;font-size: small;" class="btn btn-success">Add comment</a>
                           
                             {% else %}
                             <a href="{% url 'user_request_approve' data_id=row.id %}" style="color:white;padding: 1px 5px;font-size: small;" class="btn btn-success">Approve</a>
                            <a href="{% url 'user_request_reject' data_id=row.id %}" style="color:white;padding: 1px 5px;font-size: small;" class="btn btn-danger">Reject</a>  
                            {% endif %}
                        </td>
                       </tr>
                        {% endfor %}
                    </tbody>
                       <tfoot>
                         <tr> 
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">#ID</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Date</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">User MI ID</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">User Name</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Item</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">IM Part No</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Category</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Line</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">IW/OOW</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Function</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Req Qty</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Purpose</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Approved DRI</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Comment</th>
                           <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Action</th>
                         </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

</div><!-- /.container-fluid -->
{% endblock main_content %}
{% block custom_js %}


<script src="{% static 'pts_tables/datatables/js/jquery-3.5.1.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/jquery.dataTables.min.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/dataTables.buttons.min.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/jszip.min.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/pdfmake.min.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/vfs_fonts.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/buttons.html5.min.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/buttons.print.min.js'  %}"></script>
<script>
            $(document).ready(function() {
                $('#example').DataTable( {
                    "lengthMenu": [[50, 100, 250, 500, -1], [50, 100, 250, 500, "All"]],
                       
                        select: true,
                        "scrollY": 600,
                        "scrollX": true,
                        
                    initComplete: function () {
                        this.api().columns().every( function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo( $(column.footer()).empty() )
                                .on( 'change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );
            
                                    column
                                        .search( val ? '^'+val+'$' : '', true, false )
                                        .draw();
                                } );
            
                            column.data().unique().sort().each( function ( d, j ) {
                                select.append( '<option value="'+d+'">'+d+'</option>' )
                            } );
                        } );
                    }
                } );
            } );
</script>
{% endblock custom_js %}