{% extends 'admin_template/base_template.html' %}

{% block main_content %}

{% load static %}

<div class="card" style="width: 30rem;">
<div class="card-body">
<form action="receive_save_P75" method="post">
<div class="card-header">Receive  the item: {{ receive_item }}</div>
{% csrf_token %}
<div class="form-group">
<label for="issue_qty"> Quantity</label>
<input type="number" class="form-control" value="1" id="receive_qty" name="receive_qty" /> 
</div>
<input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>
</div>
{% endblock main_content %}
