{% extends 'tool_template/base_template.html' %}

{% block main_content %}

{% load static %}

<div class="card" style="width: 30rem;">
<div class="card-body">
<form action="transferitm1" method="post">
<div class="card-header">Issueing  the item(P91): {{ useritem }}</div>
{% csrf_token %}
<div class="form-group">
<label for="issue_qty">Issue Quantity</label>
<input type="number" class="form-control" value="1" id="issue_qty" name="issue_qty" /> 
</div>
<div class="form-group">
    <label for="date">Issue Date</label>
    <input type="date" class="form-control"  id="date" name="date" /> 
</div>
<input type="submit" class="btn btn-primary" value="Submit">
</form>
</div>
</div>
{% endblock main_content %}
