{% extends 'tool_template/base_template.html' %}

{% block custom_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'pts_tables/datatables/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'pts_tables/datatables/css/buttons.dataTables.min.css' %}">
{% endblock custom_css %}


{% block main_content %}

{% load static %}

<section class="content">
<div class="container-fluid">

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div style="height: 40px;" class="card-header">
                <h3 class="card-title">Store Item(P75)</h3>
            </div>

            <div class="card-body">
               <div style="padding-top: 5px;padding-bottom: 10px;padding-right: 10px;">
              
                </div>
                <div class="table-responsive">
                    <table id="example" style="font-size: small;" class="table table-bordered table-responsive-sm table-striped nowrap">
                        <thead class="thead-light">
                        <tr>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">#ID</th>
                            <th style="background-color:#86b9a0;color: rgb(255, 255, 255);"> IM Part No</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Items</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Spec</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Function</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Location</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Current Stock(Quantity)</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Category</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Station Name</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Product Image</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">MFR Part No</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Dummy Part No</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">MFR</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">PO Number</th>

                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">UOM</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Unit Price</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Currency</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Total Value WO GST USD</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Vendor Name</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Project</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Life Cycle</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">DRI  Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in store_data %}
                        <tr style="height: 20px;">
                        <td>{{ row.id }}</td>
                        <td>{{ row.im_part_no }}</td>
                        <td>{{ row.item_name }}</td>
                        <td>{{ row.spec }}</td>
                        <td>{{ row.function }}</td>
                        <td>{{ row.location }}</td>
                        <td>{{ row.current_stock }}</td>
                        <td>{{ row.category }}</td>
                        <td>{{ row.station_name }}</td>
                        <td>
                            {% if row.product_image == "" %}
                                No Attachment
                            {% else %}
                            <img src="{{ row.product_image.url}}" width="70px" height="30px" style="padding: 1px 5px;font-size: small;" class="rounded">
                            <a href="{{ row.product_image.url }}" style="color:white;padding: 1px 5px;font-size: small;" class="btn btn-success"  style="font-size: 16px;" target="_blank"> View</a>
                            {% endif %}
                        </td>
                        <td>{{ row.mfr_part_no }}</td>
                        <td>{{ row.dummy_part_no }}</td>
                        <td>{{ row.mfr }}</td>
                        <td>{{ row.po_number }}</td>
                        <td>{{ row.uom }}</td>
                        <td>{{ row.unit_price }}</td>
                        <td>{{ row.currency }}</td>
                        <td>{{ row.total_value_wo_gst_usd }}</td>
                        <td>{{ row.vendor_name }}</td>
                        <td>{{ row.project }}</td>
                        <td>{{ row.life_cycle }}</td>
                        <td>{{ row.admin_id.admin.first_name }}</td>
                            
                    </tr>
                        {% endfor %}
                    </tbody>
                       <tfoot>
                        <tr>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">#ID</th>
                            <th style="background-color:#86b9a0;color: rgb(255, 255, 255);"> IM Part No</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Items</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Spec</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Function</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Location</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Current Stock(Quantity)</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Category</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Station Name</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Product Image</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">MFR Part No</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Dummy Part No</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">MFR</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">UOM</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Unit Price</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Currency</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Total Value WO GST USD</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">Vendor Name</th>
                            <th style="background-color: #86b9a0;color: rgb(255, 255, 255);">DRI  Name</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>

</div><!-- /.container-fluid -->
{% endblock main_content %}
{% block custom_js %}
{% load static %}

<script src="{% static 'pts_tables/datatables/js/jquery-3.5.1.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/jquery.dataTables.min.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/dataTables.buttons.min.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/jszip.min.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/pdfmake.min.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/vfs_fonts.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/buttons.html5.min.js'  %}"></script>
<script src="{% static 'pts_tables/datatables/js/buttons.print.min.js'  %}"></script>
<script>
            $(document).ready(function() {
                $('#example').DataTable( {
                    "lengthMenu": [[50, 100, 250, 500, -1], [50, 100, 250, 500, "All"]],
                        dom:'Blftip',
                        select: true,
                        "scrollY": 600,
                        "scrollX": true,
                        buttons: [
                                 
                                 'copy',
                                 {extend: 'excel',
                                 footer: 'true',
                                 text: 'Excel',
                                 title:'Inventory system'  },
                                 'csv',
                       
                                 ],
                        
                    initComplete: function () {
                        this.api().columns().every( function () {
                            var column = this;
                            var select = $('<select><option value=""></option></select>')
                                .appendTo( $(column.footer()).empty() )
                                .on( 'change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );
            
                                    column
                                        .search( val ? '^'+val+'$' : '', true, false )
                                        .draw();
                                } );
            
                            column.data().unique().sort().each( function ( d, j ) {
                                select.append( '<option value="'+d+'">'+d+'</option>' )
                            } );
                        } );
                    }
                } );
            } );
</script>
{% endblock custom_js %}