{% extends 'tool_template/base_template.html' %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
          
          <!-- Small boxes (Stat box) -->
          <div class="row">
           
            <!-- ./col -->
            

            
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box" style="background-color:#ffd300;">
                <div class="inner">
                 <b> <center><h1 style="width: 70px;height: 70px; font-size: 50px;">{{ approvel_pending_P91 }}</h1>

                  <p>Approval Pending (P91) </p> </center> </b>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url 'tool_approvel_pending_P91' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div> 
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box" style="background-color: #ffd300;">
                <div class="inner">
                  <b> <center><h1 style="width: 70px;height: 70px; font-size: 50px;">{{ issue_pending_P91 }}</h1>

                  <p>Issue Pending (P91) </p> </center> </b>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url 'tool_issue_pending_P91' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            
            
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
               <div class="small-box" style="background-color: #00ff0d;">
                  <div class="inner">
                    <b> <center><h1 style="width: 70px;height: 70px; font-size: 50px;">{{ issue_done_P91 }}</h1>

                    <p>Issued complete (P91)</p> </center> </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="{% url 'tool_issued_done_P91' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
               <div class="small-box bg-danger">
                  <div class="inner">
                    <b> <center><h1 style="width: 70px;height: 70px; font-size: 50px;">{{ reject_P91 }}</h1>

                    <p>Reject List(P91)</p> </center> </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="{% url 'tool_reject_P91' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
               <div class="small-box " style="background-color:#ffd300;">
                  <div class="inner">
                    <b> <center><h1 style="width: 70px;height: 70px; font-size: 50px;">{{ approvel_pending_P75 }}</h1>

                    <p>Approval Pending (P75)</p> </center> </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="{% url 'tool_approvel_pending_P75' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
               <div class="small-box " style="background-color:#ffd300;">
                  <div class="inner">
                    <b> <center><h1 style="width: 70px;height: 70px; font-size: 50px;">{{ issue_pending_P75 }}</h1>

                    <p>Issue Pending (P75)</p> </center> </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="{% url 'tool_issue_pending_P75' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
               <div class="small-box " style="background-color:#00ff0d;">
                  <div class="inner">
                    <b> <center><h1 style="width: 70px;height: 70px; font-size: 50px;">{{ issue_done_P75 }}</h1>

                    <p>Issue complete (P75)</p> </center> </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="{% url 'tool_issued_done_P75' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
              <!-- small box -->
               <div class="small-box bg-danger">
                  <div class="inner">
                    <b> <center><h1 style="width: 70px;height: 70px; font-size: 50px;">{{ reject_P75 }}</h1>

                    <p>Reject List  (P75)</p> </center> </b>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="{% url 'tool_reject_P75' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            


            
          </div>
         </div>

        
      

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}

  {% block custom_js %}

  {% endblock custom_js %}